.me-pic {
	height: 50px;
display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    background-color: aliceblue;

  }










@media only screen and (max-width: 1024px) {
    main {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
    }
}